.dialog {
  width: 400px;
  padding: 0 var(--space-8);
  margin: var(--space-8) 0;
}

.characterDisplayName {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

.lineText {}

.buttonGroup {

  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.readText {
  background-color: yellow;
  color: black;
}