.linesul {
    padding-inline-start: 0px;
}

.sectionName {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.separatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    background-color: grey;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 1px;
    width: 90%;
}

@media print {
    .separatorContainer {
        display: none;
    }

    .sectionName {
        page-break-before: always;
        text-align: center;
    }
}

.presenceIndicatorContainer {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: help;
}

.presenceIndicator {
    width: 5px;
    height: 5px;
    background: #99CC00;
    position: absolute;
    border-radius: 100%;
    top: -5px;
    left: 1px;
}

.section {
    scroll-margin: 60px;
    scroll-behavior: smooth;
}

.sectionLink {
    position: relative;
}

.sectionLinkIconContainer {
    position: absolute;
    left: 0px;
}

.sectionLinkIcon {
    position: absolute;
    left: -18px;
    top: 9px;
    height: 14px;
    width: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.sectionLink:hover .sectionLinkIcon {
    opacity: 1;
    transition: opacity 0.3s;

}