.replica,
.highlighted {

    list-style: none outside none;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.character {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 1px;
}

.characterLink {
    position: relative;
}

.characterLinkIconContainer {
    position: absolute;
    left: 0px;
}

.characterLinkIcon {
    position: absolute;
    left: -18px;
    top: 4px;
    height: 14px;
    width: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.characterLink:hover .characterLinkIcon {
    opacity: 1;
    transition: opacity 0.3s;

}

.highlighted .character {
    background-color: var(--color-line-character-highlighted);
    font-weight: bold;
}

.highlighted .text {
    background-color: var(--color-line-text-highlighted);
    font-weight: bold;
    padding: 3px;
}


.characterInfo {
    display: inline-flex;
}

.hide {
    display: none;
}

.characterInfo .avatarStack {
    display: flex;
}

.characterInfo .avatarStack :last-child {
    margin-right: 2px;
}

.characterInfo .avatarStack div {
    display: inline;
}

.characterInfo .avatarStack img {
    height: 12px;
    display: inline;
}

.line {
    list-style-type: none;
    margin-left: 0px;
    scroll-margin: 60px;
    scroll-behavior: smooth;
}

.text {
    margin-left: 6px;
}

@media print {
    .characterInfo .avatarStack {
        display: none;
    }

    .revealer {
        display: none;
    }
}

.presenceIndicatorContainer {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: help;
}

.presenceIndicator {
    width: 5px;
    height: 5px;
    background: #99CC00;
    /* border: 2px solid white; */
    position: absolute;
    border-radius: 100%;
    top: -5px;
    left: 1px;
}