.sectionHeaderContainer {
    display: flex;
    justify-content: space-between;
}

.sectionName {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}




@media print {
    .separatorContainer {
        display: none;
    }

    .sectionName {
        page-break-before: always;
        text-align: center;
    }
}