.sectionHeaderContainer {
    display: flex;
    justify-content: space-between;
}

.sectionName {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.sectionLink {
    position: relative;
}

.sectionLinkIconContainer {
    position: absolute;
    left: 0px;
}

.sectionLinkIcon {
    position: absolute;
    left: -18px;
    top: 9px;
    height: 14px;
    width: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.sectionLink:hover .sectionLinkIcon {
    opacity: 1;
    transition: opacity 0.3s;

}




@media print {
    .separatorContainer {
        display: none;
    }

    .sectionName {
        page-break-before: always;
        text-align: center;
    }
}