.textarea {
  height: fit-content;
  width: 100%;
  padding: 0 var(--space-5);
  background: var(--color-surface);
  border-radius: var(--radius-sm);
  font-size: var(--size-sm);
  transition: var(--transition);
  transition-property: background, color, opacity;
  outline: none;
}

.textarea .textarea:hover:enabled,
.textarea:focus-visible:enabled {
  background: var(--color-surface-hover);
}

.textarea:disabled {
  cursor: default;
  opacity: var(--opacity-disabled);
  resize: none;
}

@media print {
  .textarea {
    color: black;
    background: transparent;
  }
}